<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
    <form action="/members/create" method="post">
        <label for="name">이름 : </label>
        <input type="text" name="name" id="name"><br>
        <label for="email">이메일 : </label>
        <input type="email" name="email" id="email"><br>
        <label for="password">비밀번호 : </label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>