<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
    <table>
        <thead>
            <tr>
                <th>이름</th>
                <th>이메일</th>
                <th>비밀번호</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "memberResDto : ${memberList}"> <!--Controller의 addAttribute의 변수명-->
                <td th:text="${memberResDto.name}"></td>
                <td th:text="${memberResDto.email}"></td>
                <td th:text="${memberResDto.password}"></td>
            </tr>
        </tbody>
    </table>


</body>
</html>