<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/hello/form-post-handle2" method="post">                     <!--hello 앞에 /로 localhost생략가능-->
        <label for="name">이름</label>
        <input type="text" id="name" name="name"><br>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email"><br>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="제출">
    </form>

</body>
</html>