<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace를 통해 MybatisMemberRepository와 연결-->
<mapper namespace="com.encore.basic.repository.MybatisMemberRepository">
<!--MemberRepository에서 정의된 함수 구현-->
<!--id에 Repository에 정의된 함수명 입력-->
<select id="findAll" resultType="com.encore.basic.domain.Member">
    select * from member;
</select>
<select id="findById" resultType="com.encore.basic.domain.Member" parameterType="Integer">
    select * from member where id = #{id};
</select>
<select id="save" resultType="com.encore.basic.domain.Member">
    insert into member(name, email, password, created_time) values(#{name}, #{email}, #{password}, #{create_time});
</select>
<!--<insert id="save">-->
<!--    insert into member(name, email, password) values(#{name}, #{email}, #{password});-->
<!--</insert>-->
</mapper>